<div class="container">
  <strong>How do I get tokens?</strong>
  <p>- You can get tokens for free on the 'Free Tokens' page! You can also buy them using PayPal, your mobile phone credit,
    or your credit card. We offer a subscription based service allowing you to get a refill of tokens every single day! It's
    undoubtedly the most powerful trading tool available in the world today.</p>
  <br>
  <strong>How long do auctions last for?</strong>
  <p>- Auction timers reset each time a bid is placed. This allows users the chance to jump in. Auctions vary in length depending
    on how many people are bidding on them.</p>
  <br>
  <strong>Can I really make profit using CSGOCranked?</strong>
  <p>- Yes! Absolutely. It's the reason this site was started. Usheen wondered if there might be a way for players to get a
    sweet inventory without it costing a kidney, thus, CSGOCranked was created.</p>
  <br>
  <strong>How are skin prices determined?</strong>
  <p>- Prices of auctioned skins are determined using data provided by OPSkins and CSGO Stash.</p>
  <br>
  <strong>How does the Affiliates system work?</strong>
  <p>- You can create a unique affiliate code. If someone signs in and enters your code, they get Tokens, and so do you. Create
    your code and get as many people to enter it as possible for free Tokens! Create your code here.</p>
  <br>
  <strong>Why should you relist skins you win here instead of elsewhere?</strong>
  <p>- As we are the cheapest skin-provide on the internet, you can be sure for a rapid sale and quick profit. Listing on other
    sites can result in long wait times for sales. Need real profit fast? List here.</p>
  <br>
  <strong>Why should you buy skins here?</strong>
  <p>- Simple: we're the cheapest. There is potential for large profit for buyers too, as there is always room to resell for
    higher amounts if you're willing to relist on other sites and wait a little longer. </p>
  <br>
  <p>Still have unanswered questions? Submit a support ticket and we'll respond as quickly as we can!</p>
  <br>

</div>
