<div class="container">
	<button type="button" class="btn btn-primary btn-lg " (click)="create_game()">Create Game   <i class=""></i></button>
	<div class="well">
		<table class="table">
			<thead>
				<tr>
					<th>Games</th>
					<th style="width: 36px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let game of games" >
					<td>{{game}}</td>
					<td>
						<button type="button" class="btn btn-primary " (click)="play()">Join   <i class="fa"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>