<div class="container">
  <p>Welcome to CSGOCranked! The ultimate trading aid. Buy cheap, sell high, make profit. Get the inventory of your dreams for
    cheaper than anywhere else on the internet.</p>
  <p>Started in 2017 by player 'Usheen', CSGOCranked seeks to provide high tier skins for low prices so that users without the
    financial means to buy skins outright can still gain that pro-level inventory.</p>
  <p>Marketplace and Auction-house, CSGOCranked offers users a way to make real profit with the skins they win. If you want
    skins or profit, why would you go anywhere else?</p>
</div>
