<div class="container">
  <h2>Our Cookie Policy:</h2>
  <p>CSGOCranked.com, like most other websites, may store or retrieve information on your browser. This is done in the form
    of 'cookies'. </p> <br>
  <p>Below, you can find out more about the different cookies we use. </p> <br>
  <h4>Necessary Cookies</h4>
  <p>These cookies are necessary for the website to function properly. They enable you to navigate around the site, remember
    your choices, and enable a smooth user experience. Without these cookies we would not be able to provide the services
    that you come to the site for. </p> <br>
  <h4>Performance Cookies</h4>
  <p>These cookies allow us to understand how users utilise our site. This lets us measure statistics, and improve how the site
    works. For example, they help us to know which skins are the most, and least popular. They are responsible for counting
    things like the number of visitors, how long people spend on the site, and user stats. This lets us know what users like,
    and where we can improve, as well as making sure the pages load quickly, smoothly, and display as intended. </p> <br>
  <h4>Cookies</h4>
  <p>These cookies are used to enable us to provide enhanced functionality. This includes the ‘Free Tokens’ page functionality,
    providing information about skin prices, and also allowing you to share content through social media. These services
    are mostly provided by third parties. If you have an account, or use the services of these parties on other websites
    then they may be able to know that you have visited our site. The use of data collected through cookies by those third
    parties is subject to their own privacy policies. Therefore, we identify these cookies by the parties setting them.</p><br>
  <h4>Opting Out of Cookies</h4>
  <p>f you have any concerns about our use of cookies, you can take action to prevent them being set in the first place. Methods
    of prevention include changing your browser settings to block certain types of cookies. For detailed information on how
    to do this, look in your browser’s help information, or for an overview of the most common browsers, you can visit: </p>
  <br>

  <p>http://www.cookiepedia.co.uk/index.php?title=How_to_Manage_Cookies or</p>
  <p> http://www.aboutcookies.org/</p><br>
  <h4>Cookies Set by CSGOCranked</h4>
  <p>LIST OF COOKIES SET BY THE SITE IN THE SAME FORMAT AS RYANAIR'S COOKIE POLICY PACK (NEED GUYS TO TELL YOU WHAT COOKIES
    WE SET IN ORDER TO CREATE THIS TABLE)</p>

</div>
