<div class="container">
  <h3>
    Terms of Service
  </h3>
  <p>
    By using CSGOCranked, you acknowledge and accept the following Terms of Service in full and without reservation. You are
    agreeing to our Terms of Service, and you are solely responsible for your compliance with any applicable laws. These
    Terms of Service govern your use of this website (www.csgocranked.com). You must be at least 18 years of age to use CSGOCranked
    services.
  </p>
  <p>
    CSGOCranked reserves the right to modify or replace any of these Terms of Service, or change, suspend, or discontinue the
    service (including the availability of any feature, database, or content) at any time, by posting a notice on the site
    or by sending you notice through the service.
  </p>
  <p>
    CSGOCranked may also impose limits on certain features and services or restrict your access to parts or all of the service
    without notice or liability. It is your responsibility to check these Terms of Service periodically for changes. Your
    continued use of CSGOCranked services following the posting of any changes to these Terms of Service constitutes acceptance
    of those changes.
  </p>

  <strong>Cookies</strong>
  <p>
    We employ the use of cookies to improve user experience. By using CSGOCranked’s website, you consent to the use of cookies.
  </p>
  <strong>Ownership</strong>
  <p>
    All materials on this website are the intellectual property of CSGOCranked, and any of the site-specific content seen on
    CSGOCranked.com may not be utilised for commercial use without prior permission from the site owner. Exclusive rights
    for Counter Strike: Global Offensive and its associated virtual items are property of Steam and the Valve Corporation.
  </p>
  <strong>Acceptable Use</strong>
  <p>
    You must not use CSGOCranked in any way that causes, or may possibly cause, damage to the website or impairment of the availability
    or accessibility of CSGOCranked or in any way which is unlawful, illegal, fraudulent or harmful. CSGOCranked reserves
    the right to ban a user at any time without warning. If a user is banned, their Tokens are frozen. Users are not entitled
    to a refund for these Tokens.
  </p>
  <strong>Item Values</strong>
  <p>
    You, as a user, are participating in auctions that allow you to deposit and receive virtual items. CSGOCranked attributes
    a value in points (“Tokens”) to these items in order to emphasise the fact that these items have no intrinsic physical
    value. Any of these values are subject to change without notice. Patterns on items are not taken into account. Phases
    and stickers are not taken in to account. By using CSGOCranked, you accept our item values, and that there will be no
    refund in case of an item valuation issue.
  </p>
  <strong>Tokens</strong>
  <p>
    CSGOCranked gives you, the user, the opportunity to exchange Skins for CSGOCranked virtual currency, “Tokens”. Tokens are
    not real money and do not have real monetary value. They may never be redeemed for “real world” money, or other items
    of monetary value from outside of the service offered without our written permission. While CSGOCranked may use terms
    like “buy”, “purchase” or “sell” in reference to Tokens, we do so only for convenience and such terms in no way indicate
    that Tokens have monetary value or are real money. By utilising CSGOCranked services, you acknowledge that Tokens are
    not real currency and are not redeemable for any sum of money from us at any time. We make no guarantee as to the nature,
    quality or value of the features of the service or any third-party goods or services that will be accessible through
    the use of Tokens. CSGOCranked reserves the right to award, or confiscate tokens to and from any user without warning.
    CSGOCranked reserves the right to modify quantity of Tokens received per price point at its discretion, without warning,
    and for any reason. CSGOCranked reserves the right to modify the price points at its discretion, without warning, and
    for any reason.
  </p>
  <strong>Depositing Skins</strong>
  <p>
    Counter Strike: Global Offensive skins may be deposited on CSGOCranked in exchange for Tokens. Depositing skins on CSGOCranked
    implies that you fully accept CSGOCranked skin valuation prices and understand that you will not receive a refund in
    the case of a skin price being lower than that of third party market valuations.You can deposit skins in exchange for
    Tokens on the ‘Get Tokens’ page by entering your Steam Trade URL on the ‘Account’ page. You can select the skins you
    wish to deposit from your inventory and hit “Deposit”. A Trade Offer containing these skins will then be sent to one
    of our CSGOCranked Bots.
  </p>
  <strong>Auctions</strong>
  <p>
    The final price of the Skin being auctioned must be paid before a CSGOCranked Bot will trade the skin to the winner. This
    price is independent of any money utilised to purchase Tokens. We do not guarantee the items received by you to be identical
    to those from the auction page. Tokens will not be refunded if an auction is lost, however if an auction fails to reach
    its reserve, Tokens will be refunded to users who bit on the item. Should you decide to keep your won skin rather than
    relisting it, you will be required to pay the final price of the skin as previously stated. After this has been done,
    a CSGOCranked getBot will send you a trade offer for your skin. Open trade offers will be automatically cancelled by CSGOCranked
    if they are not accepted thirty minutes after opening by a CSGOCranked getBot. If a trade offer is cancelled by a CSGOCranked
    getBot, we will return Tokens into your CSGOCranked account. We are not responsible for the name tags or stickers attached
    to your skins. CSGOCranked is not responsible for the loss of your skins as a result of any third-parties including Steam.
    Skins placed up for auction have reserve prices attached to them. These reserve prices are decided upon by CSGOCranked.
    Items will not sell if their reserve price is not met. Users who have bid on these items that do not reach their reserve
    price will have their tokens refunded.

  </p>
  <strong>Relisting</strong>
  <p>
    Counter Strike: Global Offensive skins won on the website can be relisted on the site to sell to other users. CSGOCranked
    sets the prices of these listings. CSGOCranked takes a 15% cut of the final sales price. You consent to this upon relisting
    your won skin. This relisting cannot be cancelled for 14 days after the listing is created. If the skin does not sell
    within this timeframe, you will be able to cancel the listing and withdraw the skin. CSGOCranked stores records of sold
    items for the past 10 days only. If you have a query about your item, be sure to raise it within this time. CSGOCranked
    reserves the right to cancel a listing at any time without warning.
  </p>
  <strong>Affiliate codes</strong>
  <p>
    Affiliate codes can be redeemed by up to 25 users maximum. Must be used within 24 hours of first sign-in. Users must have
    played at least 8 hours of Counter-Strike: Global Offensive before availing of an affiliate code.
  </p>
  <strong>Retrieval Process</strong>
  <p>
    If items are lost on CSGOCranked in error, you will be required to send us an email from our ‘Support’ page (or directly
    to support@csgocranked.com) and you will be refunded the value in Tokens provided adequate proof of this loss can be
    established from CSGOCranked’s side. You will not be refunded your original items, as they are inaccessible while the
    website is live.
  </p>
  <strong>Bans, Timeouts & Conduct</strong>
  <p>
    CSGOCranked reserves the right to remove any user from the website at our sole discretion for any reason. Any users attempting
    to manipulate the bidding system will be permanently banned from using CSGOCranked.
  </p>
  <strong>Refunds</strong>
  <p>
    CSGOCranked does not offer refunds. By engaging in auctions on this website you agree that you are always doing so at your
    own risk.
  </p>
  <strong>Limitations of Liability</strong>
  <p>
    You utilise our services at your own risk. CSGOCranked, its employees, and affiliates will never be held liable for your
    profits or losses while using CSGOCranked. These Terms of Service are able to be revised and edited by CSGOCranked at
    any time. Revised Terms of Service will apply from their effective date once published to the website.
  </p>
</div>
