<div class="text-center">
  <ul class="list-inline adminTabs">
    <li [routerLink]="['/admin']"><a>Bot Inventory</a></li>
    <li [routerLink]="['/admin/op-skins']"><a>OPSkins Inventory</a></li>
    <li [routerLink]="['/admin/remove']"><a>Remove Auction</a></li>
    <li [routerLink]="['/admin/support']"><a>Support Tickets</a></li>
    <li [routerLink]="['/admin/listings']"><a>Listings</a></li>
    <li [routerLink]="['/admin/user-list']"><a>User List</a></li>
  </ul>
</div>

<div class="container" infinite-scroll
     [infiniteScrollDistance]="3"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScrollDown()">
  <div class="row">
    <div class="row col-md-3 skin" *ngFor="let inv of pageInventory" [@fadeIn]="''">
      <div class="thumbnail" data-toggle="modal" data-target="#myModal" (click)="selectSkin(inv)">
        <img src={{inv.icon_url_large}} alt="">
        <p>{{inv.name}}</p>
        <p>{{inv.wear}}</p>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Auction</h4>
      </div>
      <div class="modal-body">
        <form #auctionForm="ngForm" style="margin-right:2%;">
          <div class="form-group" style="margin-bottom:0px;">
            <label for="weapon">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="auction.name" name="weapon">

            <label for="value">Value</label>
            <input type="number" class="form-control" id="value" required [(ngModel)]="auction.value" name="Value">

            <label for="reserve">Reserve</label>
            <input type="number" class="form-control" id="reserve" required [(ngModel)]="auction.reserve"
                   name="reserve">

            <label for="maxPrice">Max Price</label>
            <input type="number" class="form-control" id="maxPrice" required [(ngModel)]="auction.maxPrice"
                   name="maxPrice">

            <label for="wear">Weapon Wear</label>
            <input type="text" class="form-control" id="wear" required [(ngModel)]="auction.wear" name="wear">

            <label for="numToStart">Number of People to start</label>
            <input type="number" class="form-control" id="numToStart" required [(ngModel)]="auction.numToStart"
                   name="numToStart">

            <label for="priceIncrese">Price Increse per bid (cents)</label>
            <input type="number" class="form-control" id="priceIncrese" required [(ngModel)]="auction.priceIncrease"
                   name="priceIncrese">

            <label for="bidCost">Bid Cost</label>
            <input type="number" class="form-control" id="bidCost" required [(ngModel)]="auction.bidCost"
                   name="bidCost">

            <label for="time">Initial Auction Time</label>
            <input type="number" class="form-control" id="time" required [(ngModel)]="auction.timeRemaining"
                   name="time">

            <label for="imageURL">Image URL</label>
            <input type="text" class="form-control" id="imageURL" required [(ngModel)]="auction.imageURL"
                   name="imageURL">

            <label for="imageURL">Start Date</label>
            <my-date-picker style="background-color:#000000;" name="mydate" [options]="myDatePickerOptions"
                            [(ngModel)]="selectDate">
            </my-date-picker>
          </div>
          <label>Start Time</label>
          <form class="form-inline timeForm">
            <div class="form-group">
              <input type="number" class="form-control" id="startHour" required [(ngModel)]="startHour" name="startTime"
                     placeholder="Hrs"
                     max="24" min="0">
              <input type="number" class="form-control" id="startMinutes" required [(ngModel)]="startMinutes"
                     name="startMinutes" placeholder="Min"
                     max="60" min="0">
            </div>
          </form>
          <button data-dismiss="modal" (click)="onSubmit()" class="btn btn-success"
                  [disabled]="!auctionForm.form.valid">Add Auction
          </button>
          <button (click)="cancelSubmit()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
