.micro-bid{
    margin-right: 4%;
    margin-left: 4%;
    min-height: 15em;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
h5{
    text-align: left;
}
h4{
    text-align: center;
}
.red{
    color: red;
}
button{
    width:110px;
}
.list-inline>li{
    padding-left: 0;
    padding-right: 0;
}

.bid-buttons{
  margin-left: 4%;
  margin-right: 4%;
}
